{% extends 'base.html' %}
{% load static %}
{% block content %}


<div>

      <div class="uk-inline">
          <img src="{% static 'img/image4.jpg' %}" alt="">
          <div class="uk-overlay-primary uk-position-cover"></div>
          <div class="uk-overlay uk-position-center uk-light">


            <!-- <div class="d-flex align-items-center order-12" style="height:200px;"> -->
                <div class="container">
                    <h1 class="text-center d-xl-flex ">Get All Service at your Doorstep</h1>
                    <!-- <h3 class="text-center" style="color:rgb(242,245,248);padding-top:0.25em;padding-bottom:0.25em;font-weight:normal;">Our Network is <strong>always open for Business.</strong></h3> -->
                    <div class="text-center ">
                  <a class="btn btn-dark uk-button-large " role="button" href="{%url 'loginworker' %}" style="margin: 15px;font-family: Adamina, serif; font-size: 20px;">I am A Worker &nbsp; </a>
                    <a class="btn btn-dark uk-button-large" role="button" href="{%url 'loginuser' %}" style="margin: 15px;font-family: Adamina, serif; font-size: 20px;">I am a User &nbsp; </a>
                    <a class="btn btn-dark uk-button-large" role="button" href="{%url 'loginadmin' %}" style="margin: 15px;font-family: Adamina, serif; font-size: 20px;">Admin &nbsp; </a>
                    </div>
                </div>
            <!-- </div> -->


          </div>
      </div>

  </div>

  
{% endblock %}
